.nav {
  display: flex;
  height: 3.5em;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 3px 10px rgb(225, 225, 225);
  transition: all 0.8s;
}

.nav:hover {
  height: 5em;
  box-shadow: 0 5px 10px rgb(214, 214, 214);
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-logo a {
  text-decoration: none;
  color: rgb(53, 16, 87);
  transition: all 0.5s;
}

.nav-logo a:hover {
  color: rgb(146, 81, 208);
}

.nav-item-list {
  display: flex;
  height: 100%;
  align-items: center;
}
