.nav {
  display: flex;
  height: 4em;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 8px rgb(183, 183, 183);
}

.nav-logo a {
  text-decoration: none;
  color: rgb(53, 16, 87);
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.nav-item-list {
  display: flex;
  height: 100%;
}

.nav-item{
  cursor: pointer;
  display: block;
  line-height: 4rem;
  padding: 0 20px;
  color: blueviolet;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-item:hover{
  color: white;
  background-color: blueviolet;
}

.nav-item .active{
  color: white;
  background-color: blueviolet;
}
