@keyframes loading-anim {
  0% {
    transform: rotate(0);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}

.loadingSvg {
  animation: loading-anim 2.5s infinite;
}

.loadingSvg img {
  height: 1.5rem;
}
