@value nav from '../index.module.css';
.nav-item {
  cursor: pointer;
  display: block;
  line-height: 3.5rem;
  padding: 0 5px;
  color: blueviolet;
  text-decoration: none;
  transition: all 0.5s;
}

.nav:hover .nav-item {
  line-height: 4.5rem;
}

.nav-item:hover {
  padding: 0 20px;
  color: white;
  background-color: blueviolet;
}

.nav-item .active {
  color: white;
  background-color: blueviolet;
}
